{% extends 'basePostLogin.html' %} {% block content %}
<section>
  <h1><span>GYM</span>RUTINE</h1>
  <p>
    <span>{{user.first_name}} </span>
    {{user.last_name}}
  </p>
</section>
<section>
  <div>
    <h2>Sentadillas <br />con barra.</h2>
    <p>4x15 | 15 Minutos</p>
  </div>
  <h3>Indicaciones</h3>
  <ul>
    <li>
      <!-- <span>Aca iria el nro</span> -->
      <div>
        <h4>Posición inicial</h4>
        <p>
          Coloca la barra sobre tus trapecios y ajusta el peso. Parate con los
          pies al ancho de los hombros, mantene la espalda recta y el pecho
          hacia arriba.
        </p>
      </div>
    </li>
    <li>
      <!-- <span>Aca iria el nro</span> -->
      <div>
        <h4>Posición inicial</h4>
        <p>
          Coloca la barra sobre tus trapecios y ajusta el peso. Parate con los
          pies al ancho de los hombros, mantene la espalda recta y el pecho
          hacia arriba.
        </p>
      </div>
    </li>
  </ul>
</section>
{% endblock %}
