{% extends 'basePreLogin.html' %} {% block content %}
<form action="" method="POST" autocomplete="off">
  {% csrf_token %}
  <span class="error__msg">{{err}}</span>
  <div class="input__field">
    <input
      type="email"
      name="username"
      id="username"
      required=""
      class="input__form" />
    <label for="username" class="email">Ingresar correo electrónico</label>
  </div>
  <div class="input__field">
    <input
      type="password"
      name="password"
      id="password"
      required=""
      class="input__form" />
    <label for="password">Ingresar contraseña</label>
  </div>

  <button>signup</button>
</form>

{% endblock %}
